.ct-processes {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.process {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

#decomposition {
    margin-right: 200px;
    margin-bottom: 440px;
}

#abstraction {
    margin-right: 200px;
    margin-top: 440px;
}

#recognition {
    margin-left: 200px;
    margin-top: 440px;
}

#algorithm {
    margin-left: 200px;
    margin-bottom: 440px;
}

#decomposition-description {
    margin-right: 200px;
    margin-bottom: 440px;
}

#abstraction-description {
    margin-right: 200px;
    margin-top: 440px;
}

#recognition-description {
    margin-left: 200px;
    margin-top: 440px;
}

#algorithm-description {
    margin-left: 200px;
    margin-bottom: 440px;
}

#abstraction {}

#recognition {}

#algorithm {}

@media screen and (min-width: 767px) {
    .process {}
    #decomposition {
        margin-right: 440px;
        margin-bottom: 340px;
    }
    #abstraction {
        margin-right: 440px;
        margin-top: 340px;
    }
    #recognition {
        margin-left: 440px;
        margin-top: 340px;
    }
    #algorithm {
        margin-left: 440px;
        margin-bottom: 340px;
    }
    #decomposition-description {
        text-align: end;
        margin-right: 700px;
        margin-bottom: 340px;
    }
    #abstraction-description {
        margin-right: 440px;
        margin-top: 340px;
    }
    #recognition-description {
        margin-left: 440px;
        margin-top: 340px;
    }
    #algorithm-description {
        margin-left: 440px;
        margin-bottom: 340px;
    }
}